        .nav{
            background:black;
            height:65;
        }
        ul{
            overflow: hidden;
        }
        ul li{
            float :left;
            list-style:none;
            padding:0 10px;
            line-height:65px;
        }
        ul li a{
            color: white;
        }